@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: #f7f7f7;
}

.container_marca {
   margin-top: 20px;
	text-align: center;
}

.container_marca h1 {
	color: #015baa;
}

.container_marca h2 {
	font-weight: normal;
	font-size: 1.3em;
}

.box-senha {
	width: 300px;
	margin: 30px auto;
	padding: 20px 30px;
	border-radius: 4px;
	background: #39323C;
}


.box-senha span {	
	color: #f7f7f7;
}

.box-senha .display {
   height: auto;
	margin: 5px 0;
   padding: 10px 5px;
	font-family: 'Digital-7 Mono', sans-serif;
	color: red;
	text-align: center;
	border-radius: auto;
	background: #57C7F4;
}

.box-senha .display #senha {   
	font-size: 4em;
	color: #2c98c6;
}

.box-senha #prix {
	font-size: 2em;
}


@media(max-width:530px) {
  
   .box-senha {
      width: 90%;
   }

   .box-senha span {
      font-size: 1.3em;
   }

   .box-senha #prix {
      font-size: 3em;
   }

   .box-senha .display #senha {      
      font-size: 5em;
   }
}
